<?xml version="1.0" encoding="utf-8"?>

<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>

  </appSettings>

  <connectionStrings>

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AddressFinderSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.maplink.com.br/webservices/v3.1/AddressFinder/AddressFinder.asmx"
        binding="basicHttpBinding" bindingConfiguration="AddressFinderSoap"
        contract="AddressFinderServiceReference.AddressFinderSoap" name="AddressFinderSoap" />
    </client>
  </system.serviceModel>  
</configuration>