@{
    ViewBag.Title = "Address Finder";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<hr />
<h4>Insert an address</h4>

<section id="addressList"></section>

<section id="inputAddress"></section>

<section id="addressSearchResult"></section>

<section id="inputVehicleInfo"></section>

<section id="routeResult"></section>
