@{
    ViewBag.Title = "Route Calc";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<hr />
<section id="addressList"></section>

<hr />
<section id="inputAddress"></section>

<hr />
<section id="addressSearchResult"></section>

<hr />
<section id="inputVehicleInfo"></section>

<hr />
<section id="routeResult"></section>