<div class="row">
    <div class="form-group col-xs-3">
        <label for="street">Street name:</label>
        <input class="form-control" id="street" placeholder="Rua Augusta" value="Augusta">
    </div>
    <div class="form-group col-xs-1">
        <label for="houseNumber">Number:</label>
        <input class="form-control" id="houseNumber" placeholder="1000" value="1000">
    </div>
    <div class="form-group col-xs-1">
        <label for="state">State:</label>
        <input class="form-control" id="state" placeholder="SP" value="SP">
    </div>
    <div class="form-group col-xs-2">
        <label for="cityName">City:</label>
        <input class="form-control" id="cityName" placeholder="São Paulo" value="São Paulo">
    </div>
    <div class="form-group col-xs-1">
        <label for="city">&nbsp;</label>
        <button id="btnSearchAddress" class="btn btn-primary">Search</button>
    </div>
</div>
