<h2>Route Result</h2>
<div class="row">
    <div class="col-xs-3">
        <p>Km total</p>
        <h4>{{routeTotals.totalDistance}}</h4>
    </div>
    <div class="col-xs-3">
        <p>Cost total</p>
        <h4>{{routeTotals.totalCost}}</h4>
    </div>
</div>
