<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        state
                    </th>
                    <th>
                        city
                    </th>
                    <th>
                        district
                    </th>
                    <th>
                        houseNumber
                    </th>
                    <th>
                        street
                    </th>
                    <th>
                        zip
                    </th>
                    <th>
                        Long
                    </th>
                    <th>
                        Lat
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
